
.poster-drawer {
  .drawer-detail {
    // BINH: add css cho tag
    .taged-friend {
      padding-bottom: 10px;
      img {
        width: 16px;
        margin: 0 10px 0 15px;
      }
    }
    .drawer-header {
      border: none !important;
      > button {
        width: fit-content !important;
        min-height: 30px !important;
        padding: 3px 20px;
        span {
          text-transform: none !important;
        }
      }
    }
    .filter {
      .title-edit-share {
        display: flex;
        .edit-share-info {
          padding-left: 5px;
          .tag-edit-share {
            background: rgba(0, 0, 0, 0.05);
            align-items: center;
            padding: 0.5rem 0.5rem;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            img {
              width: 16px;
              margin-right: 10px;
            }
          }
        }
      }
      padding: 0px 10px 10px;
      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        li {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0px 5px;
          border-radius: 7px;
          height: 35px;
          background: rgba(0, 0, 0, 0.05);
          box-sizing: border-box;
          white-space: nowrap;
          img {
            width: 16px;
            margin-right: 10px;
          }
          input {
            display: none !important;
          }
          > div {
            width: 100%;
            display: flex;
            align-items: center;
            border: none !important;
            outline: none !important;
          }
          span {
            font-family: Roboto-Medium;
            margin-top: 1px;
          }
        }
      }
      .group-select-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 35px;
        border: 1px solid rgba(0, 0, 0, 0.17);
        border-radius: 7px;
        margin-bottom: 10px;
        padding: 0px 10px;
        > div:first-child {
          width: 100%;
        }
      }
    }
    .drawer-content {
      box-sizing: border-box;
      padding: 10px;
      overflow: scroll;
      .edit-show-share{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        p{
          color: rgba(0, 0, 0, 0.7);
          font-weight: 600;
        }
      }
      .post-role {
        margin-top: -40px;
        padding: 0px 5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        z-index: 1;
        &.have-background {
          .bt-sumbit {
            background: rgba(0, 0, 0, 0.3);
            > span {
              color: #fff;
            }
          }
        }
        .bt-sumbit {
          display: flex;
          align-items: center;
          padding: 0px 15px 0px 10px;
          height: 35px;
          border-radius: 7px;
          font-family: Roboto-Medium;
          background: #ff5a5a13;
          width: fit-content;
          margin-left: 10px;
          position: relative;
          img {
            width: 17px;
          }
          span {
            margin: 1px 0px 0px 5px;
          }
          button {
            padding: 3px;
            background: rgba(0, 0, 0, 0.3);
            position: absolute;
            top: -5px;
            right: -5px;
            span {
              margin: 0px;
            }
            svg {
              width: 15px;
              height: 15px;
              color: #fff;
            }
          }
        }
      }
    }
    .auto-height-input {
      &.have-background {
        background-size: cover !important;
        min-height: 320px;
        border: 1px solid rgba(0, 0, 0, 0.17);
        min-height: 2;
        > div {
          min-height: 320px;
        }
        fieldset {
          border: none;
        }
        > div {
          > div {
            > textarea:last-child {
              font-size: 2rem;
              color: #fff;
              line-height: 25px;
              text-align: center;
              padding: 0px;
            }
          }
        }
      }
      > div {
        > div {
          > textarea:last-child {
            min-height: 150px;
            padding-bottom: 40px;
          }
        }
      }
    }
    .tags-selected {
      margin-top: 20px;
      .tag-item {
        display: inline-block;
        padding: 4px 7px;
        border-radius: 3px;
        background: #e7f2fc;
        margin-right: 5px;
        color: #2e64c9;
        font-family: Roboto-Regular;
        margin-bottom: 5px;
      }
    }
    .media-selected {
      .media-list {
        display: flex;
        margin-top: 20px;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 20px 0px;
        box-sizing: border-box;
        > div {
          height: 25vw;
          min-width: 25vw;
          max-width: 25vw;
          margin-right: 10px;
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
          position: relative;
          > div {
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: 50% 50% !important;
            border-radius: 7px;
            width: 100%;
            height: 100%;
          }
          button {
            background: #898a8b;
            color: #fff;
            padding: 5px;
            position: absolute;
            top: -5px;
            right: -7px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            svg {
              width: 13px;
              height: 13px;
            }
          }
        }
        .overlay {
          position: absolute;
          display: flex;
          align-items: center;
          justify-self: center;
          z-index: 1;
          background: rgba(0, 0, 0, 0.5);
          border-radius: 40px;
          top: calc(50% - 17.5px) !important;
          left: calc(50% - 17.5px) !important;
          width: unset !important;
          height: unset !important;
          > svg {
            color: #fff;
            width: 35px;
            height: 35px;
          }
        }
        &.video-list {
          > div {
            background: rgba(0, 0, 0, 0.7);
            border-radius: 7px;
            position: relative;
          }
          .video-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
          }
        }
      }
    }
    .background-list {
      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        li {
          width: 100%;
          height: 25vw;
          background-size: cover !important;
          background-position: 50% 50% !important;
          background-repeat: no-repeat !important;
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
          position: relative;
          > button {
            width: 100%;
            height: 100%;
            .radio {
              display: block;
              width: 15px;
              height: 15px;
              border: 2px solid rgba(255, 255, 255, 0.7);
              border-radius: 20px;
              right: 10px;
              top: 10px;
              position: absolute;
              background: rgba(0, 0, 0, 0.2);
              &.active {
                background: #ff5a5a;
              }
            }
          }
        }
      }
    }
  }
}
.select-album-drawer {
  .filter {
    padding: 0px;
  }
}
.create-album-drawer {
  .drawer-header {
    > button {
      > span {
        color: rgb(244, 70, 69);
        text-transform: none;
        font-family: Roboto-Regular;
        font-size: 1.2rem;
      }
    }
  }
  .drawer-content {
    padding: 10px;
    box-sizing: border-box;
    > label {
      font-family: Roboto-Medium;
      margin-bottom: 10px;
      display: flex;
    }
    .auto-height-input {
      textarea {
        min-height: 200px;
      }
    }
    .privacy-sumbit {
      display: flex;
      align-items: center;
      margin-top: 10px;
      img {
        width: 25px;
      }
      > span {
        margin-left: 10px;
        > span {
          display: inline-block;
          width: 100%;
          &:last-child {
            font-size: 0.8rem;
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}

.tag-friend-drawer {
  .drawer-header {
    border-bottom: none !important;
    button {
      background: #ff5a5a;
      > span {
        color: #fff;
        text-transform: none;
      }
    }
  }
  .filter {
    .search-box {
      img {
        width: 20px;
      }
      fieldset {
        border: none !important;
        background: rgba(0, 0, 0, 0.05);
      }
    }
    .taged-friend {
      margin: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      border-radius: 7px;
      padding: 10px;
      box-sizing: border-box;
      padding-right: 40px;
      position: relative;
      ul {
        display: inline;
        li {
          display: inline;
          line-height: 20px;
          span {
            font-family: Roboto-Regular;
          }
        }
      }
      > span {
        color: #aaa;
        font-family: Roboto-Regular;
        line-height: 20px;
      }
      > button {
        position: absolute;
        right: 10px;
        top: calc(50% - 10px);
        padding: 3px;
        background: #ff5a5a;
        svg {
          width: 15px;
          height: 15px;
          color: #fff;
        }
      }
    }
  }
  .drawer-content {
    .friend-list {
      padding: 10px;
      ul {
        li {
          display: flex;
          align-items: center;
          height: 55px;
          position: relative;
          .avatar {
            border: none !important;
            width: 45px;
            height: 45px;
            margin-right: 10px;
          }
          > label {
            font-family: Roboto-Regular;
            font-size: 1.2rem;
          }
          .selected-radio {
            width: 17px;
            height: 17px;
            border: 1px solid #999;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0px;
            &.active {
              background: #ff5a5a;
              border: 1px solid #ff5a5a;
            }
            svg {
              width: 15px;
              height: 15px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.my-group-list {
  ul {
    li {
      display: flex;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      &:last-child {
        border-bottom: none;
      }
      .avatar {
        border: none;
        margin-right: 10px;
        img {
          width: 100%;
        }
      }
      .group-info {
        width: 100%;
        > label {
          font-family: Roboto-Medium;
          display: flex;
          width: 100%;
        }
        > span {
          font-family: Roboto-Regular;
          display: flex;
          width: 100%;
          color: #777;
        }
      }
      button {
        width: fit-content !important;
        > span {
          white-space: nowrap;
          padding: 0px 20px;
        }
      }
    }
  }
}
.group-invite {
  ul {
    li {
      display: flex;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      &:last-child {
        border-bottom: none;
      }
      .avatar {
        border: none;
        margin-right: 10px;
        width: 60px;
        height: 60px;
        img {
          width: 100%;
        }
      }
      .group-info {
        width: 100%;
        > label {
          font-family: Roboto-Medium;
          display: flex;
          width: 100%;
        }
        > span {
          font-family: Roboto-Regular;
          display: flex;
          width: 100%;
          color: #777;
        }
        > button {
          margin-top: 10px;
          margin-right: 10px;
          > span {
            padding: 0px;
          }
        }
      }
    }
  }
}
