// .highlight span[data-role="remove"] {
//   border-radius: 50%;
//   background: red;
//   color: white;
//   cursor: pointer;
//   padding: 0 5px 1px;
//   margin-left:5px;
// }
#vk-input { 
  padding: 10px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  font-family: Roboto-Regular;
  margin: auto;
  &[contentEditable="false"]{
    margin-bottom: 15px;
  }
  p{
    margin: 0;
    line-height: 2;
  }
}
.highlight{
  background: #f0f8fb;
  color: #52a5d9;
  padding: 1px;
  margin: -1px;
  border-radius: 5px;
}
.multi-input{
  position: relative;
  .placeholder{
    position: absolute;
    top: 12px;
    left: 10px;
    font-family: Roboto-Regular;
    color: rgba(0,0,0,0.4)
  }
}
#mention-options{
  width: 75%;
  box-shadow: 1px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  position: absolute;
  z-index: 999;
  background: white;
  p{
    border-bottom: 1px solid #ededed;
    padding: 10px;
    margin: 0;
    &:hover{
      background: #ededed;
      &:first-child{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
      &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}