.root-input{
     position: relative;
     border: 1px solid rgba(0, 0, 0, 0.15);
     padding: 10px;
     border-radius: 7px;
     background-size: cover !important;
     background-position: 50% 50% !important;
     background-repeat: no-repeat !important;
     line-height: 20px;
     &.center-mode{
         display: flex;
         align-items: center;
         justify-content: center;
         .public-DraftEditorPlaceholder-inner{
            left: 0px;
            width: 100%;
            opacity: 0.5;
         }
         span,div{
             text-align: center;
             line-height: 2rem;
             font-size: 2rem;
             color: #fff;
         }
     }
     span{
         font-family: Roboto-Regular;
         font-size: 1.1rem;
    }
     .public-DraftEditorPlaceholder-inner{
         position: absolute;
         opacity: 0.4 !important;
    }
     .mention-box{
         position: relative;
         > div{
             position: relative;
             box-shadow: none;
             top: unset !important;
             left: unset !important;
             border: none;
        }
         .custom-menttion{
             .mention-item{
                 display: flex;
                 align-items: center;
                 padding: 7px 0px;
                 > div:first-child{
                     border-radius: 100px;
                     background: #f0f0f0;
                     > img{
                         width: 30px;
                         height: 30px;
                         border-radius: 30px;
                    }
                }
            }
        }
    }
    .mention-suggesstions-item{
      display: flex;
      align-items: center;
      margin: 3px 0px;
    }
    
}

 