.career-guidance-banner{
    overflow: hidden;
    margin-bottom: 25px;
    img{
        max-width: 100%;
    }
}
.job-list-drawer{
    .filter{
        position: relative;
        margin:10px;
        font-family: Roboto-Medium;
        .searchBox{
            border-radius: 7px;
            border: none;
            box-shadow: none;
            width: 95%;
            height: 35px !important;
            font-size: 12px !important;
            color: rgba(0, 0, 0, 0.54);
            background-color: #f2f3f7;
            border: none;
            margin:auto;
            font-weight:300;
            &:focus,&:active{
                outline:none;
            }
            &::placeholder {
                color: rgba(0, 0, 0, 0.54);
                font-weight:300;
            }
        }
        .btn-search{
            position: absolute;
            right: 3px;
            bottom: 5px;
            .searchBtn{
                border: none;
                background: none;
                img{
                    max-width:16px;
                }
            }
        }
    }
}

.style-test-drawer{
    .style-reward{
        text-align: center;
        padding: 15px 10px;
        > button{
            box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
            padding: 10px 30px;
            border-radius: 7px;
            > span{
                text-transform: none !important;
                font-family: Roboto-Medium;
                margin-left: 5px;
                display: flex;
                align-items: center;
                color: #444;
                img{
                    width: 20px;
                    margin-right: 10px;
                }
            }
            
        }
        
    }
    .chart{
        padding: 10px;
    }
    .result{
        padding: 10px;
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            > span{
                color: #ff5a5a;
                font-family: Roboto-Medium;
            }
            > button{
                background: #53a6dc;
                span{
                    color: #fff;
                    font-family: Roboto-Medium;
                    text-transform: none;
                }
            }
        }
        .description{
            padding: 10px;
            background: #ededed;
            border-radius: 10px;
            margin-top: 10px;
            > span{
                display: inline-block;
                width: 100%;
                font-family: Roboto-Regular;
                color: #555;
                line-height: 18px;
                b{
                    color: #000;
                    font-family: Roboto-Medium;
                    font-weight: normal;
                }
            }
        }
        > table{
            width: 100%;
            background: #ededed;
            margin-top: 20px;
            th, td{
                text-align: center;
                background: #fff;
                line-height: 20px;
                font-family: Roboto-Regular;
                b{
                    font-family: Roboto-Medium;
                }
            }
            tbody{
                tr:nth-child(1){
                    td,th{
                        background: #ededed;
                    }
                }
            }
        }
    }
    .your-job-bt{
        background: #eee04c;
        margin: 10px auto;
        width: 60%;
        margin-left: 20%;
        span{
            color: #fff;
            text-transform: none;
            font-family: Roboto-Medium;
        }
    }
    .your-lesson{
        margin-top: 10px;
        background: #fff;
        border-top: 10px solid #ededed;
        padding: 10px;
        > label{
            color: #53a6dc;
            font-family: Roboto-Medium;
        }
        .skills-page{
            background: #fff;
            min-height: fit-content;
            padding: 10px 0px !important;
        }
    }
}

.listItem{
        display:grid;
        grid-template-areas:
            '_blank behavior behavior _blank_'
            'accordantjob accordantjob relatedmajor relatedmajor';
        width: 90%;
        grid-gap:30px;
        margin: 40px auto;
        ._blank {
            grid-area: _blank;
            display: contents;
        }
        ._blank_ {
            grid-area: _blank_;
            display: contents;
        }
        .item{
            border-radius:15px;
            box-shadow: 0px 3px 10px grey;
            text-align: center;
            color:white;
            font-family: Roboto-Medium;
            display:grid;
            padding:20px 0px;
            img{
                max-width: 50%;
                margin: 0px auto 10px
            }
            &.behavior{
                background-color:#d23a35;
                grid-area: behavior;
            }
            &.accordant-job{
                background-color:#eee04c;
                grid-area: accordantjob;
            }
            &.related-major{
                background-color:#52a5d9;
                grid-area: relatedmajor;
            }
            
        }
    }
.btn-action{
    display:grid;
    grid-template-areas:
        'scholarbt studentbt';
    width: 80%;
    grid-gap:30px;
    margin: 25% auto;
    .item{
        border-radius:15px;
        text-align: center;
        color:white;
        font-family: Roboto-Medium;
        display:grid;
        padding:20px 0px;
        img{
            max-width: 75%;
            margin: 0px auto 10px;
            padding: 15px;
            border-radius: 10px;
        }
        &.scholar-bt{
            grid-area: scholarbt;
            color: #d23a35;
            img{
                background: #C6e2e5;
            }
        }
        &.student-bt{
            grid-area: studentbt;
            color: #52a5d9;
        }
    }
}
.about-DISC{
    .video-item{
        background: rgb(255, 255, 255);
        display: grid;
        margin-bottom: 10px;
        video{
            width: 100%;
        }
        p.title{
            font-family: Roboto-Medium;
            padding: 15px 10px;
            margin: 10px 0;
            &.danger{
                color: #d23a35;
            }
        }
    }
}

.test-page{
    padding: 10px;
    > label{
        font-family: Roboto-Medium;
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }
    .description{
        padding: 10px;
        border-radius: 10px;
        background: #ededed;
        margin-bottom: 10px;
        > span{
            display: inline-block;
            width: 100%;
            line-height: 19px;
            font-family: Roboto-Regular;
            b{
                font-family: Roboto-Medium;
            }
        }
    }
    .question{
        margin-bottom: 20px;
        .tutorial{
            display: flex;
            background: #ededed;
            height: 50px;
            position: relative;
            z-index: 2;
            > span{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px 20px;
                font-family: Roboto-Regular;
                > span{
                    text-align: center;
                    b{
                        font-family: Roboto-Medium;
                    }
                }
                &.red{
                    min-width: 44px;
                    min-height: 44px;
                    padding: 0px;
                    border: 3px solid #ff5a5a;
                    font-family: Roboto-Medium;
                    &:last-child{
                        border-left: none !important;
                    }
                }
            }
        }
        .current-question{
            display: flex;
            border: 3px solid #ededed;
            border-top: none;
            position: relative;
            z-index: 1;
            > span{
                min-width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Roboto-Medium;
                position: relative;
            }
            table{
                background: #ededed;
                margin-right: -3px;
                margin-top: -3px;
                margin-bottom: -3px;
                position: relative;
                z-index: 0;
                width: calc(100% - 47px);
                box-sizing: border-box;
                tbody{
                    tr{
                        td{
                            font-family: Roboto-Regular;
                            background: #fff;
                            padding: 10px;
                            &.radio{
                                width: 44px;
                                box-sizing: border-box;
                                text-align: center;
                                padding: 0px;
                                button{
                                    padding: 0px;
                                    height: 100%;
                                    width: 100%;
                                    min-width: 1px;
                                    .radio-bt{
                                        display: block;
                                        width: 13px;
                                        height: 13px;
                                        border: 2px solid #ededed;
                                        border-radius: 13px;
                                        &.active{
                                            border: 2px solid #ff5a5a;
                                            background: #ff5a5a;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .actions{
            display: flex;
            margin-top: 20px;
            align-items: center;
            justify-content: space-between;
            button{
                background: #ededed;
                color: #ff5a5a;
            }
        }
    }
}