.career-guidance-banner{
    overflow: hidden;
    margin-bottom: 25px;
    img{
        max-width: 100%;
    }
}
.job-list-drawer{
    .filter{
        position: relative;
        margin:10px;
        font-family: Roboto-Medium;
        .searchBox{
            border-radius: 7px;
            border: none;
            box-shadow: none;
            width: 95%;
            height: 35px !important;
            font-size: 12px !important;
            color: rgba(0, 0, 0, 0.54);
            background-color: #f2f3f7;
            border: none;
            margin:auto;
            font-weight:300;
            &:focus,&:active{
                outline:none;
            }
            &::placeholder {
                color: rgba(0, 0, 0, 0.54);
                font-weight:300;
            }
        }
        .btn-search{
            position: absolute;
            right: 3px;
            bottom: 0px;
            .searchBtn{
                border: none;
                background: none;
                img{
                    max-width:16px;
                }
            }
        }
    }
}

.style-test-drawer{
    .style-reward{
        text-align: center;
        padding: 15px 10px;
        > button{
            box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
            padding: 10px 30px;
            border-radius: 7px;
            > span{
                text-transform: none !important;
                font-family: Roboto-Medium;
                margin-left: 5px;
                display: flex;
                align-items: center;
                color: #444;
                img{
                    width: 20px;
                    margin-right: 10px;
                }
            }
            
        }
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            > span{
                color: #ff5a5a;
                font-family: Roboto-Medium;
            }
            > button{
                background: #53a6dc;
                span{
                    color: #fff;
                    font-family: Roboto-Medium;
                    text-transform: none;
                }
            }
        }
    }
}

.listItem{
        display:grid;
        grid-template-areas:
            '_blank behavior behavior _blank_'
            'accordantjob accordantjob relatedmajor relatedmajor';
        width: 90%;
        grid-gap:30px;
        margin: 40px auto;
        ._blank {
            grid-area: _blank;
            display: contents;
        }
        ._blank_ {
            grid-area: _blank_;
            display: contents;
        }
        .item{
            border-radius:15px;
            box-shadow: 0px 3px 10px grey;
            text-align: center;
            color:white;
            font-family: Roboto-Medium;
            display:grid;
            padding:20px 0px;
            img{
                max-width: 50%;
                margin: 0px auto 10px
            }
            &.behavior{
                background-color:#d23a35;
                grid-area: behavior;
            }
            &.accordant-job{
                background-color:#eee04c;
                grid-area: accordantjob;
            }
            &.related-major{
                background-color:#52a5d9;
                grid-area: relatedmajor;
            }
            
        }
    }
.btn-action{
    display:grid;
    grid-template-areas:
        'scholarbt studentbt';
    width: 80%;
    grid-gap:30px;
    margin: 25% auto;
    .item{
        border-radius:15px;
        text-align: center;
        color:white;
        font-family: Roboto-Medium;
        display:grid;
        padding:20px 0px;
        img{
            max-width: 75%;
            margin: 0px auto 10px;
            padding: 15px;
            border-radius: 10px;
        }
        &.scholar-bt{
            grid-area: scholarbt;
            color: #d23a35;
            img{
                background: #C6e2e5;
            }
        }
        &.student-bt{
            grid-area: studentbt;
            color: #52a5d9;
        }
    }
}