html,span,p,label{
    font-size: 13px;
}
body{
    margin: 0px;
    // -webkit-user-select: none;
    // -khtml-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // -o-user-select: none;
    // user-select: none;
}
#proccess-bar{
    position: fixed;
    bottom: 50px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    background: #fff;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    &.active{
        opacity: 1;
        bottom: 70px;
    }
    > div{
        position: relative !important;
        border-radius: 5px !important;
        > div{
            border-radius: 5px !important;
            > div{
                display: none !important
            }
        }
    }
}
ul{
    padding: 0px;
    list-style-type: none;
    margin: 0px;
}

button.color-gray{
    > span{
        color: #777 !important;
    }
}
.ellipsit{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
pre{
    font-family: Roboto-Regular;
    line-height: 20px;
    margin: 0px;
    white-space: break-spaces;
    > span{
        line-height: 20px;
        margin-bottom: 2px;
    }
}

.draftJsHashtagPlugin__hashtag__1wMVC {
        background: #e5e5e5;
        outline: 1px solid #e5e5e5 !important;
        font-family: Roboto-Medium;
        font-weight: bold;
        color: #000;
    }
.draftJsMentionPlugin__mention__29BEd{
    background: #e7f2fc;
    outline: 1px solid #e7f2fc !important;
    font-family: Roboto-Medium;
    font-weight: bold;
    color: #2e64c9;
    margin-right: 2px;
    &.no-bg{
        background: #fff;
        outline: 1px solid #fff !important;
        margin-bottom: 0px !important;
    }
}

.custom-tab{
    box-shadow: none !important;
    padding: 5px;
    border-radius: 7px;
    background: #e8e9ed !important;
    .tab-header{
        min-height: 40px !important;
        > div{
            > div{
                > div{
                    position: relative;
                    z-index: 1;
                    > button.tab-item{
                        height: 40px;
                        min-height: 20px;
                        border-radius: 2px;
                        > span{
                            font-family: Roboto-Medium;
                            text-transform: none;
                            color: #555;
                        }
                    }
                }
                > span:last-child{
                    height: 100%;
                    background: #fff;
                    z-index: 0;
                    border-radius: 5px;
                }
                
            }
            
        }
    }
}
.avatar{
    .img{
        width: 100%;
        height: 100%;
        background-size: cover !important;
        background-position: 50% 50% !important;
    }
}
// .animation-height{
//     > div{
//         display: block !important;
//     }
// }
.custom-tab-1{
    box-shadow: none !important;
    background: #fff !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    .tab-header{
        min-height: 40px !important;
        > div > div{
            position: relative;
            > span:last-child{
                height: 3px;
                z-index: 0;
                background: #e42726 !important;
            }
            > div{
                position: relative;
                z-index: 1;
                button{
                    min-height: 50px !important;
                    &[aria-selected=true]{
                        span{
                            color: #e42726 !important;
                        }
                    }
                    > span{
                        color: #484848 !important;
                        text-transform: none !important;
                        font-family: Roboto-Medium;
                    }
                    > span:last-child{
                        display: none;  
                    }
                }
            }
        }
    }
}
.tab-content{
    padding: 15px;
    font-family: Roboto-Regular;
    input{
        font-family: Roboto-Regular;
        color: #444;
        letter-spacing: 0.3px;
    }
    .password-option{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top:10px;
        margin-bottom: 10px;
        > div span{
            color: #666;
        }
    }
    
}
.list-empty-message{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-family: Roboto-Regular;
    color: #c0c0c0;
}
input{
    outline: none !important;
}
.date-time-input{
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    max-height: 40px;
    background: none;
    border-radius: 7px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    input{
        border: none;
        outline: none;
        background: none;
        max-height: 38px;
        width: calc(100% + 20px);
        &.hide-value{
            color: rgba(0,0,0,0);
        }
    }
    button{
        position: absolute;
        padding: 0px;
        top: calc(50% - 12px);
        right: 10px;
    }
}
::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder { /* Edge */
  font-family: Roboto-Regular !important;
  font-weight: normal !important;
  opacity: 0.4 !important;
}
input[type="date"]:not(.has-value):before{
  color: #000;
  font-family: Roboto-Regular;
  opacity: 0.4;
  content: attr(placeholder);
}
// input[type="color"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="email"],
// input[type="month"],
// input[type="number"],
// input[type="password"],
// input[type="search"],
// input[type="tel"],
// input[type="text"],
// input[type="time"],
// input[type="url"],
// input[type="week"],
// input[type="hidden"],
// select,
// select:focus
//  {
//   font-size: 16px !important;
//   transform: scale(0.8) !important;
//   margin-left: -23px;
//   padding: 0px !important;

// }
// select:focus{
//     margin-left: 0px !important;
//     background: none !important;
// }
// textarea{
//     font-size: 16px !important;
// }
.blur{
    overflow: hidden !important;
    pointer-events: none !important;
    filter: blur(35px);
}
.custom-bt-control-bar{
    position: fixed;
    top: calc(50% - 10px);
    width: 44%;
    left: 28%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        color: #fff;
        background: rgba(43, 51, 63, 0.7);
        padding: 5px;
    }
}
> div{
    width: 100% !important;
    height: fit-content !important;
}

.custom-badge{
    &.dask-mode{
        > span:last-child{
            border-color: #000;
        }
    }
    > span:last-child{
        background: #ff5a5a;
        color: #fff;
        font-family: Roboto-Regular;
        padding: 0px 5px;
        border: 2px solid;
        white-space: nowrap;
    }
}
.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.red{
    color: #ff5a5a !important;
}
.blued{
    color: #5abdff !important;
}
input{
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    padding: 0px 10px !important;
    font-size: 1rem !important;
}
ul{
    li{
        list-style-type: none !important;
    }
}
.gender-select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 0px 10px;
    .title{
      color: #777;
    }
    .options{
      span{
        padding: 5px 25px;
        display: inline-block;
        margin-left: 10px;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        &.active{
          background: #ff5a5a;
          color: #fff;
        }
      }
    }
}
li[role='menuitem']{
    background: #ededed !important;
    
}
div[role='presentation']{
    height: 100% !important;
    position: fixed !important;
    > div:last-child{
        height: 100%;
    }
}
#react-confirm-alert{
    .react-confirm-alert-overlay{
        background: rgba(0, 0, 0, 0.2);
        z-index: 999999999999999 !important;
        .react-confirm-alert{
            width: calc(100vw - 40px);
            border-radius: 15px !important;
            overflow: hidden;
            .react-confirm-alert-body{
                padding: 0px 10px !important;
                width: 100%;
                text-align: center;
                padding-top: 20px !important;
                box-sizing: border-box;
                > h1{
                    font-size: 1.3rem;
                    color: #000;
                    font-family: Roboto-Medium;
                    font-weight: normal;
                    margin-bottom: 5px;
                    margin-top: 20px;
                    display: inline-block;
                    width: 100%;
                }
                .react-confirm-alert-button-group{
                    display: flex;
                    align-items: center;
                    height: 45px;
                    justify-content: center;
                    padding-bottom: 20px;
                    button{
                        margin-right: 0px;
                        background: #5abdff;
                        border-radius: 0px;
                        font-family: Roboto-Medium;
                        font-size: 1.2rem;
                        color: #fff;
                        border-radius: 7px;
                        padding: 7px 20px;
                        &:last-child{
                            border-left: 1px solid rgba(0,0,0,0.1);
                        }
                    }
                }
            }
        }
    }
}
.custom-placehoder{
    margin-top: -7px;
    margin-left: -2px;
    color: rgba(0, 0, 0, 0.3);
}
.react-confirm-alert-blur{
    filter: blur(0);
}
.bt-submit{
    width: 100% !important;
    border-radius: 6px !important;
    box-shadow: none !important;
    min-height: 30px !important;
    background: #ff5a5a !important;
    padding: 0px 10px !important;
    > span{
        text-transform: none !important;
        color: #fff !important;
        min-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Roboto-Medium;
        white-space: nowrap;
        padding: 0px 10px;
    }
    &.outline{
        background: #fff !important;
        border: 0.5px solid #ff5a5a !important;
        // box-shadow: 0px 0px 2px #ff5a5a !important;
        > span{
            color: #ff5a5a !important;
        }
    }
    &.no-bg{
        padding: 0px;
        background: none !important;
        > span{
            color: #ff5a5a !important;
        }
    }
}
.bt-default{
    width: 100% !important;
    border-radius: 6px !important;
    box-shadow: none !important;
    min-height: 30px !important;
    background: #fff !important;
    > span{
        text-transform: none !important;
        color: #555 !important;
        font-size: 1.2rem;
        font-family: Roboto-Medium;
        white-space: nowrap;
    }
}
.bt-confirm{
    width: 100% !important;
    border-radius: 6px !important;
    box-shadow: none !important;
    min-height: 30px !important;
    background: #5abdff !important;
    > span{
        text-transform: none !important;
        color: #fff !important;
        font-family: Roboto-Medium;
        white-space: nowrap;
    }
    &.outline{
        background: #fff !important;
        // border: 1px solid #ff5a5a !important;
        box-shadow: 0px 0px 2px #ff5a5a !important;
        > span{
            color: #5abdff !important;
        }
    }
}
.bt-cancel{
    // width: 100% !important;
    // border-radius: 6px !important;
    // box-shadow: none !important;
    // min-height: 30px !important;
    // background: #e8e8e8 !important;
    // > span{
    //     text-transform: none !important;
    //     color: #333 !important;
    //     font-family: Roboto-Medium;
    //     padding: 0px 10px;
    // }
    width: 100% !important;
    border-radius: 6px !important;
    box-shadow: none !important;
    min-height: 30px !important;
    background: #e8e8e8 !important;
    padding: 0px 10px !important;
    > span{
        text-transform: none !important;
        color: #333 !important;
        min-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Roboto-Medium;
        white-space: nowrap;
        padding: 0px 10px;
    }
}

fieldset{
    border-radius: 7px !important;
    border-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.15) !important;
}
.custom-menu{
    z-index:  100000000 !important;
    > div:last-child{
        border-radius: 7px;
        ul{
            overflow: hidden;
            padding: 10px;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 35px;
                padding: 0px 20px;
                font-size: 1rem;
                font-family: Roboto-Regular;
                background: rgba(0, 0, 0, 0.05);
                border-radius: 5px;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.custom-switch{
    input{
        opacity: 0;
        display: none;
    }
    > span{
        box-shadow: none !important;
    }
}

button,
span,
div{
    outline: none !important;
}

.input-field{
    &.inline{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        label{
            width: fit-content;
        }
    }
    .custome-menu.list{
        > div{
            min-height: unset !important;
        }
    }
    label{
        margin-bottom: 5px;
        display: flex;
        width: 100%;
        font-family: Roboto-Medium;
        align-items: center;
        button{
            background: rgba(0, 0, 0, 0.05) !important;
            border-radius: 4px;
            padding: 4px 10px;
            margin-left: 10px;
            img{
                width: 17px;
                margin-bottom: 1px;
            }
            svg{
                width: 20px;
                opacity: 0.7;
            }
        }
    }
}
#style-chart{
    > div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 30px;
        justify-items: center;
        position: relative;
        z-index: 1;
        // border: 3px solid #ededed;
        border-top: none;
        > span{
            width: fit-content;
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 20px;
            font-family: Roboto-Regular;
            &.active{
                border-radius: 20px;
                color: #fff;
                background: #ff5a5a;
            }
        }
        > span:nth-child(1),
        > span:nth-child(2),
        > span:nth-child(3),
        > span:nth-child(4){
            background: #ededed;
            width: 100%;
            height: 100%;
            color: #ff5a5a;
            font-family: Roboto-Medium;
            font-size: 1.1rem;
        }
    }
    >svg{
        z-index: 0;
    }
    .y-border{
        display: block;
        width: 3px;
        height: 100%;
        position: absolute;
        background: #ededed;
        top: 0px;
        left: 0px;
        &.border-1{
            left: 25%;
        }
        &.border-2{
            left: 50%;
        }
        &.border-3{
            left: 75%;
        }
        &.border-right{
            left: calc(100% - 3px);
        }
    }
    .x-border{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #ededed;
        top: 100%;
        left: 0px;
        &.border-1{
            border-top: 2px dashed #999;
            top: calc(50% + 14px);
            background: none;
            height: 0px;
        }
    }
}
.app-noti-message{
    font-family: Roboto-Regular;
    font-size: 1.2rem;
    margin-top: 20px;
    display: inline-block;
    padding: 0px 15px;
}
.jon-group-confirm{
    background: #fff;
    padding: 20px;
    > label{
        font-family: Roboto-Medium;
        font-size: 1.2rem;
        text-align: center;
        display: inline-block;
        width: 100%;
    }
    > div{
        display: flex;
        margin: 10px 0px;
        &.accept-role{
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        button{
            margin-right: 20px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}
.confirm-drawer{
    display: flex;
    align-items: center;
    > div:last-child{
        position: relative;
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
        margin-left: 10px;
        border-radius: 15px;
        height: fit-content !important;
    }
    &.type-drawer{
        align-items: flex-end;
        > div:last-child{
            width: 100%;
            margin-left: 0px;
            border-radius: 20px 20px 0px 0px;
            min-width: 100%;
            max-width: 100%;
        }
        .option-header{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            button{
                position: absolute;
                top: 10px;
                left: 0px;
            }
            label{
                font-family: Roboto-Medium;
                font-size: 1.2rem;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .jon-group-confirm{
            p{
                text-align: center;
            }
            > div{
                display: block;
                margin-top: 10px;
                button{
                    min-width: 20% !important;
                    background: #fff !important;
                    height: 40px;
                    margin-bottom: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    span{
                        color: #333 !important;
                    }
                }
            }
        }
    }
    .jon-group-confirm{
            p{
                text-align: center;
            }
            > div{
                display: flex;
                margin-top: 10px;
                justify-content: center;
                > button{
                    max-width: 100px;
                }
            }
        }
}

.overflow-hidden{
    overflow: hidden !important;
}
.custom-select{
    >div::after,
    >div::before{
        display: none
    }
    > div{
        min-height: 38px;
        > div{
            display: flex;
            align-items: center;
            > svg{
                margin-right: -20px;
            }
        }
        select{
            padding-right: 0px;
            width: fit-content;
            min-height: 38px;
            line-height: 31px;
            padding: 0px;
            option{
                min-width: 40px;
            }
            // width: calc(100% - 25px);
        }
    }
}
.privacy-menu{
    ul{
        padding: 10px;
        li{
            margin-bottom: 10px;
            background: rgba(0,0,0,0.02);
            border-radius: 7px;
            &:last-child{
                margin-bottom: 0px;
            }
            > img{
                width: 20px;
            }
            > div{
                white-space:normal;
                width: fit-content;
                > label{
                    font-family: Roboto-Medium;
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    color: #333;
                }
                > span{
                    font-family: Roboto-Regular;
                    color: #666;
                    display: inline-block;
                    width: 100%;
                    font-size: 0.8rem;
                    text-align: center;
                }
            }
        }
    }
}
.custom-input{
    > div{
        > div:nth-child(3){
            position: absolute;
            right: 0px;
        }
    }
}
.none-bg{
    background: rgba(0, 0, 0, 0.07);
}
.custom-toast{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Toastify__toast--info{
    background: #242a2ee7 !important;
    width: fit-content !important;
    padding: 0px 20px;
    border-radius: 7px;
    min-height: 40px;
    > button{
        display: none;
    }
    .Toastify__toast-body{
        font-family: Roboto-Regular;
    }
}

.custome-video-layout{
    &.inactive{
        .video-react-control-bar{
            .video-react-volume-menu-button-horizontal,
            .video-react-current-time,
            .video-react-duration,
            .video-react-icon-fullscreen,
            .video-react-progress-control{
                opacity: 0;
            }
        }
    }
    .video-react-control-bar{
        height: 100% !important;
        width: 100% !important;
        display: grid;
        grid-template-areas: 'content content content content content' 'time proccess volumn duration fullscreen';
        grid-template-rows: auto min-content;
        grid-template-columns: min-content auto min-content min-content min-content;
        padding-bottom: 5px;
        background: none;
        .fullscreen-overlay{
            height: 30px;
            width: 40px;
            background: rgba(255, 255, 255, 0);
            bottom: 5px;
            right: 0px;
            position: absolute;
            z-index: 10;
        }
        .custom-bt-control-bar{
            position: absolute;
            top: calc(50% - 10px);
            left: calc(50% - 80px);
            width: 160px;
            grid-area: content;
            justify-content: space-around;
        }
        .video-react-volume-menu-button-horizontal,
        .video-react-current-time,
        .video-react-duration,
        .video-react-icon-fullscreen,
        .video-react-progress-control{
            height: 30px;
            opacity: 1;
            transition: all 0.2s ease-in-out;
        }
        .video-react-volume-menu-button-horizontal{
            grid-area: volumn;
        }
        .video-react-current-time{
            grid-area: time;
            font-family: Roboto-Regular;
            font-size: 1rem;
            display: flex;
            align-items: center;
        }
        .video-react-duration{
            grid-area: duration;
            font-family: Roboto-Regular;
            font-size: 1rem;
            display: flex;
            align-items: center;
        }
        .video-react-icon-fullscreen{
            grid-area: fullscreen;
        }
        .video-react-progress-control{
            grid-area: proccess;
            width: 100%;
        }
        .video-react-play-control,
        .video-react-time-control.video-react-time-divider{
            display: none;
        }
    }
    
}