.custom-cropper{
 margin: 0px auto;
 img{
     max-width: fit-content;
 }
}
@media screen and (min-width:600px){
    .custom-cropper{
        img{
            max-width: 600px !important;
        }
       }
}
.box {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
  }
  .img-preview {
    overflow: hidden;
  }
.cropper-drawer{
    background: #0e1013 !important;
    .drawer-detail{
        display: grid;
        grid-template-rows: auto min-content;
        height: 100%;
        > div{
            background: #0e1013 !important;
        }
        .drawer-content{
            display: flex;
            align-items: center;
        }
        .footer-drawer{
            > label{
                display: inline-block;
                width: 100%;
                text-align: center;
                color: rgba(255,255,255,0.8);
                padding-top: 10px;
            }
            > div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;                
                >button{
                    color: rgba(255,255,255,0.8);
                    min-width: fit-content;
                    span{
                        font-family: Roboto-Regular;
                        text-transform: none !important;
                        width: fit-content;
                    }
                }
            }
        }
    }
}