.mobile-custom-select{
    .display-value{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 7px;
        height: 40px;
        > span{
            display: block;
            width: calc(100% - 70px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.mobile-custom-select-modal{
    > div:last-child{
        border-radius: 20px 20px 0px 0px;
    }
    .modal-header{
        padding: 15px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        label{
            font-size: 1.2rem;
            font-family: Roboto-Medium;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 10px;

        }
    }
    .select-list{
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        ul{
            margin: 5px 0px;
            li{
                display: flex;
                align-items: center;
                height: 40px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.07);
                padding: 0px 20px;
                position: relative;
                &:last-child{
                    border-bottom: none;
                }
                .check-icon{
                    width: 40px;
                    height: 40px;
                    background: #fff;
                    position: absolute;
                    right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .action{
        min-height: 50px;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: space-around;
        button{
            background: rgba(0, 0, 0, 0);
            height: 50px;
            width: 100%;
            span{
                font-family: Roboto-Regular;
                color: royalblue;
                text-transform: none;
                font-size: 1.1rem;
            }
        }
    }
}