.skills-page{
    min-height: calc(100vh - 131px);
    background: #f2f3f7;
    padding: 10px;
    box-sizing: border-box;
    .source-item{
        cursor: pointer;
        margin-bottom: 10px;
        > div{
            border-radius: 10px;
            overflow: hidden;
            height: 40vw;
            background-size: cover !important;
            background-position: 50% 50% !important;
            background-repeat: no-repeat !important;
            padding: 10px;
            box-sizing: border-box; 
            display: grid;
            align-items: flex-end;
            > div{
                .reward{
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    > span{
                        margin-right: 10px;
                        background: rgb(255, 90, 89);
                        color: #fff;
                        font-family: Roboto-Medium;
                        display: flex;
                        height: 25px;
                        padding: 0px 10px;
                        border-radius: 5px;
                        width: fit-content;
                        align-items: center;
                        &:last-child{
                            margin-right: 0px;
                        }
                    }
                }
                .source-name{
                    background: rgba(0,0,0,0.7);
                    font-family: Roboto-Medium;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    height: 30px;
                    border-radius: 40px;
                    padding: 0px 20px;
                    width: fit-content;
                }
            }
            
        }
        
    }
}

.source-item-page{
    .lesson-video{
        margin-top: 15px;
        background: #fff;
        .source-name{
            display: flex;
            padding: 0px 10px;
            font-family: Roboto-Medium;
            font-size: 1.2rem;
            color: rgb(245, 71, 70);
        }
        .reward{
            padding: 0px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 7px;
            box-sizing: border-box;
            > span{
                display: flex;
                align-items: center;
                font-family: Roboto-Regular;
                &.reward-point{
                    color: #2aabe1;
                }
                > span{
                    margin-left: 3px;
                }
                img{
                    width: 17px;
                    margin-left: 5px;
                }
            }
        }
        .proccess{
            padding: 10px;
            .proccess-bar{
                background: #e9e9e9;
                height: 6px;
                border-radius: 6px !important;
                > div{
                    background: #2aabe1;
                }
            }
            > span{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                img{
                    width: 15px;
                    margin-left: 5px;
                }
            }
        }
        .video{
            .custom-bt-control-bar{
                position: fixed;
                top: calc(50% - 10px);
                width: 44%;
                left: 28%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                button{
                    color: #fff;
                    background: rgba(43, 51, 63, 0.7);
                    padding: 5px;
                }
                
            }
            .fullscreen-overlay{
                background: none;
                z-index: 100;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 40px;
                height: 30px;
            }
            > div{
                width: 100% !important;
                height: fit-content !important;
            }
        }
        .lesson-name{
            display: flex;
            align-items: center;
            height: 60px;
            padding: 0px 20px;
            svg{
                color: rgb(245, 71, 70);
                margin-right: 10px;
                font-size: 3rem;
            }
            > span{
                font-family: Roboto-Regular;
                font-size: 1.2rem;
                color: rgb(245, 71, 70);
                font-weight: bold;
            }
        }
    }
    .lesson-list{
        padding: 10px;
        background: #f2f3f7;
        > label{
            font-family: Roboto-Medium;
            margin-bottom: 10px;
            display: flex;
        }
        .document,
        .lesson{
            margin-bottom: 10px;
            .name{
                > svg{
                    font-size: 2.5rem;
                    margin-right: 10px;
                    color: rgb(245, 71, 70);
                }
                > span{
                    font-family: Roboto-Regular;
                    font-weight: bold;
                }
            }
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #fff;
                padding: 7px 10px;
                border-radius: 7px;
                box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
                margin-bottom: 10px;
                &.active{
                    background: #ededed;
                }
                > div:first-child{
                    display: flex;
                    align-items: center;
                    width: fit-content;
                }
                > div.process{
                    width: 22px;
                    height: 22px;
                    border: 4px solid #e9e9e9;
                    border-radius: 30px;
                    position: relative;
                    svg{
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        top: -4px;
                        left: -4px;
                        color: rgb(245, 71, 70);
                    }
                }
                img{
                    width: 25px;
                    margin-right: 10px;
                }
                > span{
                    font-family: Roboto-Regular;
                }
            }
        }
    }
}
.exercise-item-page{
    .exercise-header{
        background: #fff;
        padding-bottom: 10px;
    }
    .lesson-info{
        display: flex;
        padding: 10px;
        box-sizing: border-box;
        align-items: center;
        label{
            font-family: Roboto-Medium;
            font-size: 1.2rem;
            color: rgb(245, 71, 70);
        }
        .bg{
            min-width: 150px;
            height: 110px;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: 50% 50% !important;
            border-radius: 10px;
            margin-left: 20px;
        }
    }
    .menu{
        padding: 0px 10px;
    }
    .lesson-list{
        .tab-content{
            padding: 0px;
        }
        .content-box{
            padding: 10px;
        }
        .exercise-list{
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            border-radius: 7px;
            .list-header{
                padding: 15px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                > label{
                    font-family: Roboto-Medium;
                }
                > span{
                    font-family: Roboto-Regular;
                }
                .reward{
                    > span{
                        font-family: Roboto-Regular;
                        > span{
                            font-family: Roboto-Medium;
                        }
                    }
                }
            }
            .exercise-item{
                padding: 0px 10px 10px;
                box-sizing: border-box;
                text-align: center;
                > img{
                    width: 100%;
                    margin-top: 10px;
                    border: 1px solid #666
                }
                > div{
                    > label{
                        font-family: Roboto-Medium;
                        font-size: 1.1rem;
                    }
                    .reward{
                        display: flex;
                        align-items: center;
                        img{
                            width: 15px;
                        }
                    }
                    .video{
                        position: relative;
                        .video-react-control-bar {
                            margin-top: -30px;
                            position: unset !important;
                        }
                        .custom-bt-control-bar{
                            position: absolute !important;
                        }
                        .fullscreen-overlay{
                            background: none;
                            z-index: 100;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: 40px;
                            height: 30px;
                        }
                    }
                    > img{
                        width: 100%;
                        margin-top: 10px;
                        border: 1px solid #666
                    }
                }
                
                .box-upload-file{
                    input{
                        display: none !important;
                    }
                    .file-selected{
                        background: #fff;
                        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
                        margin: 10px;
                        border-radius: 7px;
                        display: flex;
                        align-items: center;
                        img{
                            width: 40px;
                            padding: 10px;
                        }
                        .file-info{
                            width: 100%;
                            > span{
                                display: flex;
                                
                            }
                            .name{
                                font-family: Roboto-Medium;
                            }
                            .size{
                                font-family: Roboto-Regular;
                                color: #777;
                            }
                        }
                        > button{
                            width: fit-content !important;
                            span{
                                font-family: Roboto-Medium;;
                            }
                        }
                        svg{
                            padding: 5px;
                            background: #e5e5e5;
                            color: #EE5554;
                            border-radius: 100px;
                            margin-right: 10px;
                        }
                    }
                    .bt-upload-file{
                        background: #fbf2f3;
                        border: 1px dashed #ed807d;
                        border-radius: 7px;
                        display: flex;
                        align-items: center;
                        margin: 10px;
                        img{
                            width: 40px;
                            padding: 10px;
                        }
                        span{
                            font-family: Roboto-Medium;
                            color:  #EE5554;
                        }
                    }
                }
                .aply-exercise{
                    width: 50% !important;
                    margin: 20px auto;
                    padding: 0px !important;
                    > span{
                        padding: 0px !important;
                    }
                }
            }

        }
    }
    .history{
        padding: 10px;
        .notification{
            padding: 7px;
            background: #f5fafd;
            border-radius: 10px;
            > span{
                color: #53a6dc;
                font-family: Roboto-Regular;
            }
        }
        .reports{
            border-radius: 7px;
            padding: 10px;
            border: 1px solid rgba(0,0,0,0.2);
            margin-top: 10px;
            > label{
                font-family: Roboto-Medium;
                font-size: 1.2rem;
                display: flex;
                justify-content: center;
                color: #d03c32;
                height: 30px;
                align-items: center;
                margin-bottom: 10px;
            }
            .tasks{
                .task-header{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .task-name{
                        font-family: Roboto-Regular;
                        font-weight: bold;
                    }
                    .task-actions{
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        width: 100%;
                        justify-content: space-between;
                        button{
                            margin-right: 10px;
                            width: fit-content !important;
                            &:last-child{
                                margin-right: 0px;
                            }
                            > span:first-child{
                                font-family: Roboto-Regular;
                                white-space: nowrap;
                                padding: 0px 10px;
                            }
                        }
                    }
                    
                }
                .task-content{
                    video{
                        width: 100% ;
                        
                    }
                    .homework-text{
                        a{
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            color: #333;
                            img{
                                width: 35px;
                                margin-right: 10px;
                            }
                            span{
                                font-family: Roboto-Medium;
                            }
                        }
                    }
                }
                .assess{
                    text-align: center;
                    > span{
                        font-family: Roboto-Regular;
                        color: #666;
                        display: inline-block;
                        margin: 10px 0px;
                        text-align: left;
                        width: 100%;
                    }
                    > div{
                        > div{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .assessor{
                                display: flex;
                                align-items: center;
                                .avatar{
                                    img{
                                        width: 40%;
                                    }
                                }
                                > div:last-child{
                                    text-align: left;
                                    padding-left: 10px;
                                    .name{
                                        font-family: Roboto-Medium;
                                        display: block;
                                    }
                                    .date{
                                        width: 100%;
                                        margin-top: 5px;
                                        color: #888;
                                    }
                                }
                                > span{
                                    font-family:  Roboto-Regular;
                                    margin-left: 10px;
                                }
                            }
                            .status{
                                color: #53a6dc;
                                font-family: 1rem;
                                font-family:  Roboto-Regular;
                            }
                            
                        }
                    }
                    .point{
                        white-space: nowrap;
                        padding: 10px 20px;
                        border-radius: 7px;   
                        color: #fff;
                        font-family: Roboto-Medium;
                    }
                    .comment{
                        background: rgba(0, 0, 0, 0.06);
                        margin-top: 10px;
                        border-radius: 7px;
                        padding: 10px;
                        margin-bottom: 20px;
                        text-align: left;
                        pre{
                            font-size: 1rem;
                            font-family: Roboto-Regular;
                        }
                    }
                    > img{
                        width: 30px;
                        display: inline-block;
                        margin: 10px auto;
                    }
                    .noti-ring{
                        color: #EE5554;
                    }
                    
                }
                > li{
                    text-align: center;
                }
                > li > button{
                    background: #53a6dc;
                    padding: 7px 20px;
                    > span{
                        text-transform: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.apply-drawer{
    .drawer-header{
        border-bottom: none !important;
    }
    .apply-form{
        padding: 0px 10px;
        text-align: center;
        > label{
            font-family: Roboto-Medium;
            font-size: 1.2rem;
            color: #d03c32;
            display: flex;
            align-items: center;
            height: 40px;
        }
        > img{
            width: 100%;
            margin: 20px 0px;
        }
        > span{
            font-family: Roboto-Medium;
            font-size: 1.2rem;
            display: inline-block;
            width: 100%;
            text-align: left;
        }
        .bt-upload{
            margin: 20px 0px;
            padding: 15px 10px;
            display: flex;
            align-items: center;
            background: #fbf2f3;
            border-radius: 10px;
            border: 1px dotted #d03c32;
            > span{
                font-family: Roboto-Medium;
                color: #d03c32;
                display: inline-block;
                width: 100%;
                text-align: left;
            }
            img{
                width: 20px;
                margin-right: 10px;
            }
        }

        button{
            width: 120px !important;
            margin: 0px auto;
        }
        #bt-select-video{
            outline: none !important;
            input{
                display: none !important;
            }
        }
    }
}

.add-assess-drawer{
    > div:last-child{
        width: calc(100% - 20px);
        margin-left: 10px;
        min-height: unset !important;
        height: fit-content !important;
        bottom: calc(50vh - 35vh);
        border-radius: 10px;
    }
    .drawer-detail{
        max-width: 600px;
        height: 100%;
        grid-template-rows: min-content auto min-content ;
        .drawer-header{
            padding-left: 10px;
            padding-right: 0px;
            .direction{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
        }
        .drawer-content{
            width: 100%;
            .assess-list{
                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    border-bottom: 1px solid rgba(0,0,0,0.07);
                    > div{
                        display: flex;
                        align-items: center;
                        > span{
                            font-family: Roboto-Medium;
                            margin-left: 10px;
                        }
                        .avatar{
                            img{
                                width: 100%;
                            }
                        }
                    }
                    button{
                        width: fit-content !important;
                    }
                }
            }
        }
        .actions{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 10px;
            button{
                width: fit-content !important;
                margin-left: 10px;
            }
        }
    }
}

.assess-page{
    background: #ededed;
    .exercise-scource{
        padding: 10px 10px 20px;
        background: #fff;
        > label{
            font-size: 1.2rem;
            font-family: Roboto-Medium;
        }
        .empty-record{
            padding: 10px;
            color: #53a6dc;
            font-family: Roboto-Medium;
            background: #f5fafd;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
            margin: 20px 0px;
            border-radius: 7px;
            > span{
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        }
    }
    
    .exercise-list{
        margin-bottom: 10px;
        .exercise-item{
            .list-header{
                padding: 10px;
                background: #fff;
                label{
                    font-family: Roboto-Medium;
                }
            }
            .exercise-content{
                padding: 10px;
                background: #fff;
                > .video{
                    border-radius: 10px;
                    overflow: hidden;
                    margin-bottom: 15px;
                }
                > img{
                    width: 100%;
                    border: 1px solid #888;
                }
                margin-bottom: 10px;
            }
             .homework-list{
                background: #fff;
                padding: 10px;
                margin-bottom: 10px;
                > label{
                    font-family: Roboto-Medium;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                }
                .user{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    .avatar{
                        width: 35px;
                        height: 35px;
                        margin-right: 10px;
                    }
                    .info{
                        .name{
                            display: inline-block;
                            width: 100%;
                            font-family: Roboto-Medium;
                            margin-bottom: 3px;
                        }
                        .date{
                            display: flex;
                            width: 100%;
                            font-family:  Roboto-Regular;
                            align-items: center;
                            color: #777;
                            svg{
                                width: 7px;
                                height: 7px;
                                margin: 0px 5px
                            }
                        }
                    }
                }
                .homework-name{
                    margin-bottom: 10px;
                    span{
                        font-family:  Roboto-Regular;
                    }
                }
                .video{
                    border-radius: 10px;
                    overflow: hidden;
                }
                .rating{
                    >label{
                        font-family: Roboto-Medium;
                        display: inline-block;
                        width: 100%;
                        margin: 15px 0px;
                    }
                    .rating-list{
                        display: grid;
                        grid-template-columns: repeat(10,1fr);
                        li{
                            text-align: center;
                            > span{
                                font-family: Roboto-Medium;
                            }
                            > button{
                                padding: 0px;
                                width: 100%;
                                svg{
                                    width: 2.7rem;
                                    height: 2.7rem;
                                }
                            }
                        }
                    }
                }
                .review-text{
                    margin-top: 20px;
                }
                .submit{
                    text-align: center;
                    margin: 20px 0px 10px;
                    .bt-submit{
                        width: 50% !important;
                    }
                }
            }
        }
    }
   
}
#my-pdf{
    width: 100% !important;
    background: #ededed;
    .react-pdf__Page{
        width: 100% !important;
        margin-bottom: 5px;
        canvas{
            width: 100% !important;
        }
    }
}