@charset "utf-8";

/*===== Font size PC =====*/
@media (min-width: 768px) {
    body {
        font-size: 14px;
       
    }
}


/*===== Format content =====*/
body {
    color: #333333;
    word-wrap: break-word;
    font-size: 13px !important;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

:after, :before {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    &:before, &:after {
        content: " ";
        display: table;
    }
    
}

@media (min-width: 1000px) {
    body {
        .wrapper {
            width: 100%; //node
            background: #fff;
        }
    }
}


.row {
    margin-right: -15px;
    margin-left: -15px;
    &:before {
        display: table;
        content: " ";
        clear: both;
    }
    &:after {
        display: table;
        content: " ";
        clear: both;
    }

}

.box {
    &:before {
        display: table;
        content: " ";
        clear: both;
    }
    &:after {
        display: table;
        content: " ";
        clear: both;
    }
}

.content {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.intention {
    width: 100%;
}

.wrapper{
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.jss293 {
    color: #00c0ef !important;
}
.MuiSvgIcon-colorPrimary-34 {
    color: #00c0ef !important;
}
