* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: auto;
  min-height: 100%; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, img, ins, kbd, q, s, samp, strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select, area {
  outline: none;
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  list-style: none; }

@media print {
  body {
    -webkit-print-color-adjust: exact; } }
table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; }
  table.table {
    width: 100%;
    max-width: 100%; }
    table.table > thead > tr > th,
    table.table > tbody > tr > th,
    table.table > tfoot > tr > th,
    table.table > thead > tr > td,
    table.table > tbody > tr > td,
    table.table > tfoot > tr > td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid inherit; }

body {
  line-height: 1.4;
  -webkit-text-size-adjust: none; }

a {
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: none;
  cursor: pointer; }

.cursor-pointer {
  cursor: pointer; }

button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: button;
  -webkit-border-radius: 0;
  -moz-appearance: button;
  border-radius: 0;
  font-size: 16px;
  padding: 0;
  border: none;
  outline: none; }

input {
  border: 1px solid darkgray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  padding: 0; }

textarea {
  border: 1px solid darkgray;
  -webkit-box-sizing: border-box;
  -webkit-rtl-ordering: logical;
  -webkit-appearance: textarea;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 0;
  background-color: white;
  flex-direction: column;
  -moz-appearance: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-image: initial;
  user-select: text;
  border-radius: 0;
  font-size: 16px;
  cursor: auto;
  padding: 0; }

body .img-circle {
  border-radius: 50%; }
body img {
  vertical-align: middle;
  border: 0; }

/*=============================
HOVER OPACITY
=============================*/
body .opacity-hover {
  opacity: 1;
  transition: 0.5s; }
body .opacity-hover:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: .7;
  transition: 0.5s; }

/*=============================
CLEAR FLOAT
=============================*/
body .clear-fix:before, body .clear-fix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }
body .clear-fix:after {
  clear: both; }
body .clear-fix {
  zoom: 1; }

/*=============================
FLOAT
=============================*/
.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

/*=============================
TEXT
=============================*/
body .text-normal {
  font-weight: normal !important; }
body .text-bold {
  font-weight: bold !important; }
body .text-left {
  text-align: left !important; }
body .text-right {
  text-align: right !important; }
body .text-center {
  text-align: center !important; }
body .text-justify {
  text-align: justify !important; }
body .text-nowrap {
  white-space: nowrap !important; }
body .text-lowercase {
  text-transform: lowercase !important; }
body .text-uppercase {
  text-transform: uppercase !important; }
body .text-capitalize {
  text-transform: capitalize !important; }

.text-nobr {
  white-space: nowrap;
  display: inline-block; }

/*=============================
  text indent
=============================*/
body .text-indent-1em {
  text-indent: -1em;
  margin-left: 1em; }
body .text-indent-2em {
  text-indent: -2em;
  margin-left: 2em; }
body .text-indent-3em {
  text-indent: -3em;
  margin-left: 3em; }
body .text-indent-4em {
  text-indent: -4em;
  margin-left: 4em; }
body .text-indent-5em {
  text-indent: -5em;
  margin-left: 5em; }

@media (max-width: 767px) {
  body .hidden-xs {
    display: none !important; } }
@media (max-width: 991px) {
  body .hidden-sm {
    display: none !important; } }
@media (max-width: 1199px) {
  body .hidden-md {
    display: none !important; } }

/*=============================
  text color
=============================*/
body .color-green {
  color: green !important; }
body .color-red {
  color: red !important; }
body .color-yellow {
  color: yellow !important; }
body .color-orange {
  color: orange !important; }
body .color-blue {
  color: blue !important; }
body .color-brown {
  color: brown !important; }
body .color-darkturquoise {
  color: darkturquoise !important; }

/*=============================
  background color
=============================*/
body .bg-green {
  background: green !important; }
body .bg-red {
  background: red !important; }
body .bg-yellow {
  background: yellow !important; }
body .bg-orange {
  background: orange !important; }
body .bg-blue {
  background: blue !important; }
body .bg-brown {
  background: brown !important; }
body .bg-darkturquoise {
  background: darkturquoise !important; }

/*# sourceMappingURL=common.css.map */
