.profile-page{
    min-height: 100vh;
    border-bottom: 10px solid rgba(0,0,0,0.06);
    .cover-img{
        height: 60vw;
        width: 100%;
        position: relative;
        background-size: cover !important;
        background-position: 50% 50% !important;
        background-repeat: no-repeat !important;
        > div{
            width: fit-content;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        input{
            display: none !important;
        }
    }
    .user-avatar{
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        margin: -70px auto 0px;
        z-index: 1;
        position: relative;
        border-radius: 100px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: 50% 50% !important;
        position: relative;
        > div{
            width: fit-content;
            position: absolute;
            bottom: -5px;
            right: -5px;
        }
        input{
            display: none !important;
        }
        > button{
            position: absolute;
            bottom: 0px;
            right: -5px;
        }
    }
    .user-info{
        margin-top: 20px;
        position: relative;
        .user-name{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            font-family: Roboto-Medium;
        }
        .point{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            padding: 0px 5px 0px 10px;
            background: #ededed;
            width: fit-content;
            border-radius: 25px;
            margin: 5px auto;
            img{
                width: 18px;
                margin-left: 5px;
            }
            span{
                font-size: 0.9rem;
                font-family: Roboto-Regular;
            }
        }
        > button{
            border-radius: 5px;
            padding: 3px;
            position: absolute;
            right: 12px;
            top: -40px;
        }
    }
    .react-reward{
        width: 100%;
        margin-top: 20px;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            height: 35px;
            border: 1px solid rgba(0,0,0,0.06);
            border-radius: 7px;
            margin: 0px auto;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                border-left: 1px solid rgba(0,0,0,0.06);
                height: 100%;
                &:first-child{
                    border-left: none;
                }
                img{
                    width: 20px;
                    height: 20px;
                }
                span{
                    color: #ba281d;
                    margin-left: 5px;
                }
            }
        }
    }
    .user-profile{
        padding: 20px;
        ul{
            li{
                display: flex;
                align-items: center;
                height: 35px;

                img{
                    width: 20px;
                }
                span{
                    font-family: Roboto-Regular;
                    margin-left: 10px;
                    &.title{
                        color: rgba(0,0,0,0.5);
                    }
                    b{
                        font-family: Roboto-Medium;
                        margin-left: 3px;
                        color: rgba(0,0,0,0.7);
                        font-weight: normal;
                    }
                }
            }
        }
        .view-detail-link{
            padding-left: 3px;
            margin-top: 10px;
            display: flex;
            color: rgba(0,0,0,0.7);;
        }
        
    }
    .update-button{
        border-radius: 7px;
        width: calc(100% - 20px);
        height: 37px;
        margin: 0px 10px;
        span{
            color: #fff;
            font-family: Roboto-Medium;
            text-transform: none !important;
        }
    }
    .friend-reward{
        padding: 10px;
        border-top: 10px solid rgba(0,0,0,0.06);
        margin-top: 10px;
        position: relative;
        > label{
            font-size: 1.2rem;
            font-family: Roboto-Medium;
            display: inline-block;
            width: 100%;
        }
        > span{
            color: rgba(0,0,0,0.5);
        }
        .friend-list{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin-top: 10px;
            .friend-item{
                .avatar{
                    width: 30vw;
                    height: 30vw;
                    background-size: cover !important;
                    background-position: 50% 50% !important;
                    background-repeat: no-repeat !important;
                    border: none;
                    border-radius: 5px;
                }
                .name{
                    font-family: Roboto-Medium;
                    margin-top: 10px;
                    display: inline-block
                }
                .mutual-friend-count{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    font-family: Roboto-Regular;
                    font-size: 0.9rem;
                    color: #777;
                    margin-top: 5px;
                }
            }
        }
        .search-friend{
            position: absolute;
            top: 10px;
            right: 15px;
            display: flex;
            align-items: center;
            img{
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
            span{
                font-family: Roboto-Regular;
                color: rgb(244, 70, 69);
            }
        }
    }
    .post-bt{
        border-top: 10px solid rgba(0,0,0,0.06);
        padding: 10px;
        display: flex;
        align-items: center;
        > span{
            margin-left: 10px;
            font-family: Roboto-Regular;
            color: rgba(0,0,0,0.5);
        }
    }
    .quit-post-bt{
        border-top: 10px solid rgba(0,0,0,0.06);
        padding: 10px;
        ul{
            display: flex;
            align-items: center;
            li{
                display: flex;
                align-items: center;
                height: 35px;
                background: rgba(0,0,0,0.06);
                border-radius: 7px;
                margin-right: 10px;
                padding: 0px 20px 0px 5px;
                img{
                    width: 20px;
                }
                span{
                    font-family: Roboto-Medium;
                    margin-left: 20px;
                }
            }
        }
    }

}
.img-select-option{
    > div:last-child{
        min-height: 300px;
        border-radius: 25px 25px 0px 0px;
    }
    .option-header{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 50px;
        margin-top: 10px;
        label{
            font-size: 1.2rem;
            font-family: Roboto-Medium;
        }
        button{
            position: absolute;
            left: 10px;
        }
    }
    .option-list{
        padding: 0px 20px;
        margin-top: 30px;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            border-radius: 7px;
            border: 1px solid rgba(0,0,0,0.06);
            margin-bottom: 10px;
            > button{
                width: 100%;
                > span{
                    font-family: Roboto-Regular;
                    text-transform: none;
                    font-size: 1.1rem;
                    color: #666;
                }
            }
        }
    }
}

.user-menu{
    > div:last-child{
        width: 100vw;
    }
    .menu-header{
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0px 10px;
        label{
            font-size: 1.2rem;
            font-family: Roboto-Medium;
        }
    }
    .menu-list{
        padding: 0px 10px;
        margin-top: 20px;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 37px;
            border-radius: 7px;
            border: 1px solid rgba(0,0,0,0.06);
            margin-bottom: 10px;
            overflow: hidden;
            > button{
                width: 100%;
                > span{
                    font-family: Roboto-Regular;
                    text-transform: none;
                    font-size: 1.1rem;
                    color: #666;
                }
            }
            &.sign-out{
                margin-top: 40px;
                border: none;
                > button{
                    > span{
                        color: #FFF;
                        font-family: Roboto-Medium;
                    }
            }
            }
        }
    }
}

.update-profile-form{
    div.content-form{
        height: calc(100vh - 60px);
        overflow: scroll;
    }
    .form-header{
        display: flex;
        align-items: center;
        height: 60px !important;
        border-bottom: 1px solid rgba(0,0,0,0.07);
        label{
            font-family: Roboto-Medium;
            font-size: 1.2rem;
        }
    }
    .content-box{
        padding: 10px;
        position: relative;
        border-bottom: 10px solid rgba(0,0,0,0.06);
        > label{
            display: flex;
            align-items: center;
            color: #f44645;
            span{
                margin-left: 5px;
                font-family: Roboto-Medium;
            }
        }
        ul{
            padding-left: 30px;
            li{
                padding: 2px 0px;
                >label{
                    font-family: Roboto-Medium;
                    display: inline-block;
                    width: 100%;
                    &.name{
                        font-size: 1.1rem;
                    }
                }
                > span{
                    color: #777;
                }
                .skills{
                    display: inline-block;
                    padding: 0px;
                    width: 100%;
                    margin-top: 5px;
                    li{
                        display: inline-block;
                        white-space: nowrap;
                        padding: 8px 10px;
                        border-radius: 5px;
                        margin-right: 5px;
                        background: #f44645;
                        font-family: Roboto-Regular;
                        span{
                            color: #fff;
                        }
                    }
                }
            }
        }
        button{
            position: absolute;
            top: 0px;
            right: 10px;
        }
        .add-bt{
            display: flex;
            align-items: center;
            height: 35px;
            border: 1px solid #27a9e0;
            border-radius: 7px;
            width: calc(100% - 14px);
            margin-left: 7px;
            margin-top: 10px;
            color: #27a9e0;
            padding: 0px 6px;
            box-sizing: border-box;
            span{
                margin-left: 5px;
                font-family: Roboto-Regular;
            }
        }
        .job{
            padding: 4px;
            margin-top: 10px;
            img{
                margin-top: 10px ;
            }
            li{
                display: flex;
                align-items: flex-start;
                position: relative;
                > img{
                    width: 30px;
                }
                > div{
                    margin-left: 10px;
                    max-width: 70%;
                    label{
                        font-family: Roboto-Medium;
                        font-weight: bold;
                        display: inline-block;
                        width: 100%;
                        margin: 3px 0px;
                        span{
                            font-family: Roboto-Regular;
                            font-weight: normal;
                            color: #777;
                        }
                    }
                    span{
                        font-family: Roboto-Regular;
                        color: #777;
                    }
                }
                > button{
                    position: absolute;
                    top: -10px;
                    right: -4px;

                }
            }
        }
    }
}

.drawer-form{
    .form-header{
        height: 60px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0,0,0,0.06);
        label{
            font-size: 1.2rem;
            font-family: Roboto-Medium;
        }
    }
    .form-content{
        padding: 20px;
        height: calc(100vh - 60px);
        overflow: scroll;
        > label{
            font-family: Roboto-Medium;
        }
        > p{
            color: #888;
            margin-bottom: 20px;
        }
        > button{
            margin-top: 50px;
        }
    }
}
.update-skill{
    .form-content{
        padding: 0px;
        p{
            margin: 10px 0px 0px;
            color: #666;
        }
        > button{
            width: calc(100% - 40px) !important;
            margin-left: 20px;
            box-sizing: border-box;
        }
        > div{
            padding: 10px 20px;
            &.skill{
                padding: 0px 20px 20px;
                border-bottom: 10px solid rgba(0,0,0,0.06);
                padding-top: 20px;
                
            }
            
            > label{
                font-family: Roboto-Medium;
            }
            > ul{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                margin-top: 10px;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    border: 1px solid rgba(0,0,0,0.1);
                    border-radius: 6px;
                    &.active{
                        background: #ff5a5a;
                        border: 1px solid #ff5a5a;
                        span{
                            color: #fff;
                        }
                    }
                    button{
                        padding: 8px 0px;
                        width: 100%;
                    }
                    span{
                        font-family: Roboto-Regular;
                        font-size: 0.9rem;
                        text-transform: none;
                    }
                }
            }
        }
    }
}

.change-pass-form{
    .content-form{
        > div{
            padding: 20px;
            > button{
                margin-top: 10px;
            }
        }
    }
}
.block-friend-form{
     .content-form{
        padding: 0px 20px;
        box-sizing: border-box;
        p{
        font-family: Roboto-Regular;
        color: #666;
        text-align: justify;
        }
        .add-bt{
            display: flex;
            align-items: center;
            color: #ff5a5a;
            span{
                font-family: Roboto-Medium;
                margin-left: 5px;
            }
        }
     }
}
.friends-for-block-form{
    .drawer-header{
        border-bottom: none !important;
    }
    .content-form{
        padding: 0px 10px 10px;
        box-sizing: border-box;
        .search-box{
            margin: 0px !important;
            img{
                width: 17px;
            }
            fieldset{
                border: none !important;
                background: rgba(0,0,0,0.07);
            }
        }
    }
}
.image-box{
    padding: 10px;
    
}
.image-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    li{
        height: 100px;
        background-size: cover !important;
        background-position: 50% 50% !important;
        background-repeat: no-repeat !important;
    }
}
.album {
    ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        li{
            height: 150px;
            >div{
                border: 1px solid rgba(0,0,0,0.2);
                height: calc(100% - 35px);
                padding: 3px;
                box-sizing: border-box;
                > div{
                    height: 100%;
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    background-position: 50% 50% !important;
                }
            }
            > span{
                display: flex;
                align-items: center;
                width: 100%;
                height: 35px;
                color: #777;
                font-family:  Roboto-Regular;
            }
            &.add-bt{
                > div{
                    border: 1px solid #f44645;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    > svg{
                        width: 40px;
                        height: 40px;
                        color: #f44645;
                    }
                }
                > span{
                    color: #f44645;
                }
            }
        }
    }
}