//BINH: add css cho tác vụ
.friend-actions-drawer{
    .title-more-action{
        text-align: center;
        padding: 2rem 0 0 0;
        font-weight: bold;
    }
    .drawer-content{
        .destroy-action{
            display: flex;
            justify-content:center;
            .btn-destroy{
                text-transform: initial;
                padding: 1rem 4rem;
                background:#f44645;
                color: #fff;
                border-radius: 1rem;
            }
        }
        
    }
}
@media screen and (min-width: 400px){
    .profile-page{
        .cover-img{
            height: 60vh !important;
        }
    }
    .album {
        ul{
            grid-template-columns: repeat(3,1fr) !important;
            li{
                >div{
                    height: 200px !important;
                }
            }
        }
    }
    .img-select-option{
        .option-header,.option-list{
            box-sizing: border-box;
            width: 100%;
            max-width: 600px;
            margin: auto;
        }
    }
}
.profile-page{
    min-height: 100vh;
    border-bottom: 10px solid #f2f3f7;
    .posted{
        padding: 10px;
        background: #f2f3f7;
        > ul{
            > li{
                margin-bottom: 10px;
                > div{
                    box-shadow: 0px 0px 15px rgba(0,0,0,0.03);
                }
            }
        }
    }
    .cover-img{
        height: 60vw;
        width: 100%;
        position: relative;
        background-size: cover !important;
        background-position: 50% 50% !important;
        background-repeat: no-repeat !important;
        .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
        }
        > div{
            width: fit-content;
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 10;
        }
        input{
            display: none !important;
        }
    }
    .user-avatar{
        width: 90px;
        height: 90px;
        border: 2px solid #fff;
        margin: -60px auto 0px;
        z-index: 1;
        position: relative;
        border-radius: 100px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: 50% 50% !important;
        position: relative;
        > .img{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: 50% 50% !important;
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 100px;
        }
        // &::after{
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     background: #F3F3F3;
        //     position: absolute;
        //     top: 0px;
        //     left: 0px;
        //     z-index: -1;
        //     border-radius: 100px;
        // }
        .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            border-radius: 100px;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: 50% 50% !important;
        }
        > div{
            width: fit-content;
            position: absolute;
            bottom: -5px;
            right: -5px;
            z-index: 10;
        }
        input{
            display: none !important;
        }
        > button{
            position: absolute;
            bottom: 0px;
            right: -5px;
        }
    }
    .user-info{
        margin-top: 20px;
        position: relative;
        .user-name{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            font-family: Roboto-Medium;
        }
        .point{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            padding: 0px 5px 0px 10px;
            background: #ededed;
            width: fit-content;
            border-radius: 25px;
            margin: 5px auto;
            img{
                width: 18px;
                margin-left: 5px;
            }
            span{
                font-size: 0.9rem;
                font-family: Roboto-Regular;
            }
        }
        > button{
            border-radius: 5px;
            padding: 3px;
            position: absolute;
            right: 12px;
            top: -40px;
        }
    }
    .react-reward{
        width: 100%;
        margin-top: 20px;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            height: 35px;
            border: 1px solid rgba(0,0,0,0.06);
            border-radius: 7px;
            margin: 0px auto;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                border-left: 1px solid rgba(0,0,0,0.06);
                height: 100%;
                &:first-child{
                    border-left: none;
                }
                img{
                    width: 20px;
                    height: 20px;
                }
                span{
                    color: #ba281d;
                    margin-left: 5px;
                }
            }
        }
    }
    .user-profile{
        padding: 20px;
        ul{
            li{
                display: flex;
                align-items: center;
                height: 35px;

                img{
                    width: 20px;
                }
                span{
                    font-family: Roboto-Regular;
                    margin-left: 10px;
                    &.title{
                        color: rgba(0,0,0,0.5);
                    }
                    b{
                        font-family: Roboto-Medium;
                        margin-left: 3px;
                        color: rgba(0,0,0,0.7);
                        font-weight: normal;
                    }
                }
            }
        }
        .view-detail-link{
            cursor: pointer;
            padding-left: 3px;
            margin-top: 10px;
            display: flex;
            color: rgba(0,0,0,0.7);;
        }
        
    }
    .update-button{
        border-radius: 7px;
        width: calc(100% - 20px);
        height: 37px;
        margin: 0px 10px;
        span{
            color: #fff;
            font-family: Roboto-Medium;
            text-transform: none !important;
        }
    }
    .friend-reward{
        padding: 10px;
        border-top: 10px solid rgba(0,0,0,0.06);
        margin-top: 10px;
        position: relative;
        overflow-x: hidden;
        > label{
            font-size: 1.2rem;
            font-family: Roboto-Medium;
            display: inline-block;
            width: 100%;
        }
        > span{
            color: rgba(0,0,0,0.5);
        }
        .friend-list{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin-top: 10px;
            width: calc(100vw - 20px);
            grid-column-gap: 10px;
            .friend-item{
                cursor: pointer;
                margin: 5px 0px;
                .avatar{
                    width: calc((100vw - 40px)/3);
                    height: calc((100vw - 40px)/3);
                    border: none;
                    border-radius: 7px;
                    overflow: hidden;
                    background: rgba(0,0,0,0.07);
                    > div{
                        width: 100%;
                        height: 100%;
                        background-size: cover !important;
                        background-position: 50% 50% !important;
                        background-repeat: no-repeat !important;
                        border: none;
                    }
                }
                .name{
                    font-family: Roboto-Medium;
                    margin-top: 10px;
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                }
                .mutual-friend-count{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    font-family: Roboto-Regular;
                    font-size: 0.9rem;
                    color: #777;
                    margin-top: 5px;
                }
            }
        }
        .search-friend{
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 15px;
            display: flex;
            align-items: center;
            img{
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
            span{
                font-family: Roboto-Regular;
                color: rgb(244, 70, 69);
            }
        }
    }
    @media screen and (min-width:600px){
        .friend-reward{
            .friend-list{
                margin: auto;
                grid-template-columns: repeat(4,130px);
                grid-template-rows: repeat(2, 200px);
                .friend-item{
                    cursor: pointer;
                    .avatar{
                    width: 130px;
                    height: 130px;
                    }
                }
            }
        }
        
    }
    .post-bt{
        border-top: 10px solid #f2f3f7;
        padding: 10px;
        display: flex;
        align-items: center;
        > span{
            margin-left: 10px;
            font-family: Roboto-Regular;
            color: rgba(0,0,0,0.5);
        }
    }
    .quit-post-bt{
        border-top: 10px solid #f2f3f7;
        padding: 10px;
        ul{
            display: flex;
            align-items: center;
            li{
                cursor: pointer;
                display: flex;
                align-items: center;
                height: 45px;
                background: rgba(0,0,0,0.06);
                border-radius: 7px;
                margin-right: 10px;
                padding: 0px 20px 0px 10px;
                img{
                    width: 20px;
                }
                span{
                    font-family: Roboto-Medium;
                    margin-left: 20px;
                }
            }
        }
    }

}
.img-select-option{
    > div:last-child{
        min-height: 300px;
        border-radius: 25px 25px 0px 0px;
        height: fit-content !important;
    }
    .option-header{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 50px;
        margin-top: 10px;
        label{
            font-size: 1.2rem;
            font-family: Roboto-Medium;
        }
        button{
            position: absolute;
            left: 10px;
        }
    }
    .option-list{
        padding: 0px 20px;
        margin-top: 30px;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            border-radius: 7px;
            border: 1px solid rgba(0,0,0,0.06);
            margin-bottom: 10px;
            > button{
                width: 100%;
                > span{
                    font-family: Roboto-Medium;
                    text-transform: none;
                    font-size: 1.1rem;
                    color: #666;
                }
            }
        }
    }
}

.user-menu{
    margin: auto;
    &.full{
        > div:last-child{
            border-radius: 0px !important;
            height: 100% !important;
        }
    }
    > div:last-child{
        width: 100vw;
    }
    .menu-header{
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0px 10px;
        label{
            font-size: 1.2rem;
            font-family: Roboto-Medium;
        }
    }
    .menu-list{
        max-width: 600px;
        margin: auto;
        padding: 0px 10px;
        margin-top: 20px;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 37px;
            border-radius: 7px;
            border: 1px solid rgba(0,0,0,0.06);
            margin-bottom: 10px;
            overflow: hidden;
            > button{
                width: 100%;
                > span{
                    font-family: Roboto-Regular;
                    text-transform: none;
                    font-size: 1.1rem;
                    color: #666;
                }
            }
            &.sign-out{
                margin-top: 40px;
                border: none;
                > button{
                    > span{
                        color: #FFF;
                        font-family: Roboto-Medium;
                    }
            }
            }
        }
    }
}

.update-profile-form{
    div.content-form{
        margin: auto;
        height: calc(100vh - 60px);
        max-width: 600px;
        overflow-y: auto;
    }
    .form-header{
        display: flex;
        align-items: center;
        height: 60px !important;
        border-bottom: 1px solid rgba(0,0,0,0.07);
        label{
            font-family: Roboto-Medium;
            font-size: 1.2rem;
        }
    }
    .content-box{
        padding: 10px;
        position: relative;
        border-bottom: 10px solid rgba(0,0,0,0.06);
        > label{
            display: flex;
            align-items: center;
            color: #f44645;
            span{
                margin-left: 5px;
                font-family: Roboto-Medium;
            }
        }
        .custome-menu{
            position: absolute;
            right: 0px;
            top: 0px;
        }
        ul{
            padding-left: 30px;
            li{
                padding: 2px 0px;
                >label{
                    font-family: Roboto-Medium;
                    // display: inline-block;
                    // width: 100%;
                    &.name{
                        font-size: 1.1rem;
                    }
                }
                > span{
                    color: #777;
                }
                .skills{
                    display: inline-block;
                    padding: 0px;
                    width: 100%;
                    margin-top: 5px;
                    li{
                        display: inline-block;
                        white-space: nowrap;
                        padding: 8px 10px;
                        border-radius: 5px;
                        margin-right: 5px;
                        background: #f44645;
                        font-family: Roboto-Regular;
                        margin-bottom: 5px;
                        min-width: 40%;
                        text-align: center;
                        
                        span{
                            color: #fff;
                            
                        }
                    }
                }
            }
        }
        > button{
            position: absolute;
            top: calc(50% - 24px);
            right: 0px;
        }
        .add-bt{
            display: flex;
            align-items: center;
            height: 35px;
            border: 1px solid #27a9e0;
            border-radius: 7px;
            width: calc(100% - 14px);
            margin-left: 7px;
            margin-top: 10px;
            color: #27a9e0;
            padding: 0px 6px;
            box-sizing: border-box;
            span{
                margin-left: 5px;
                font-family: Roboto-Regular;
            }
        }
        ul.job{
            padding: 4px;
            margin-top: 10px;
            
            img{
                margin-top: 10px ;
            }
            li{
                display: flex;
                align-items: flex-start;
                position: relative;
                &.school{
                    img{
                        transform: scale(1.4);
                        margin-left: 2px;
                        margin-right: -2px;
                    }
                }
                > img{
                    width: 20px;
                }
                .custome-menu{
                    position: absolute;
                    top: -10px !important;
                    right: -14px;
                }
                > div{
                    margin-left: 20px;
                    max-width: 70%;
                    label{
                        font-family: Roboto-Medium;
                        font-weight: bold;
                        display: inline-block;
                        width: 100%;
                        margin: 3px 0px;
                        span{
                            font-family: Roboto-Regular;
                            font-weight: normal;
                            color: #777;
                        }
                    }
                    span{
                        font-family: Roboto-Regular;
                        color: #777;
                    }
                }
                
            }
        }
    }
}

.drawer-form{
    .form-header{
        height: 60px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0,0,0,0.06);
        label{
            font-size: 1.2rem;
            font-family: Roboto-Medium;
        }
    }
    .form-content{
        padding: 20px;
        height: calc(100vh - 60px);
        overflow-y: scroll;
        .date-select{
            border: 1px solid rgba(0,0,0,0.15);
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .gender-select.custom{
            position: relative;
            .options{
                position: absolute;
                top: 100%;
                left: 0px;
                width: 100%;
                border: 1px solid rgba(0,0,0,0.15);
                border-radius: 7px;
                > span{
                    width: 100%;
                    display: flex;
                    box-sizing: border-box;
                    margin: 0px;
                    background: none !important;
                    color: #555;
                    padding: 10px;
                    border-bottom: 1px solid rgba(0,0,0,0.15);
                    border-radius: 0px;
                    &:last-child{
                        border-bottom: none;
                    }
                }

            }
        }
        .custom-input-field{
            display: flex;
            align-items: center;
            .input-field{
                margin-right: 10px;
                width: 50%;
               
                &.year-input{
                    input{
                        margin-left: 0px !important;
                    }
                }
                &:last-child{
                    margin-right: 0px;
                    width: 50%;
                    .custom-input{
                        width: 100%;
                    }
                }
            }
        }
        > label{
            font-family: Roboto-Medium;
        }
        > p{
            color: #888;
            margin-bottom: 20px;
        }
        > button{
            margin-top: 90px;
        }
    }
}
.update-skill{
    .form-content{
        padding: 0px;
        p{
            margin: 10px 0px 0px;
            color: #666;
        }
        > button{
            width: calc(100% - 40px) !important;
            margin-left: 20px;
            box-sizing: border-box;
        }
        > div{
            padding: 10px 20px;
            &.skill{
                padding: 0px 20px 20px;
                border-bottom: 10px solid rgba(0,0,0,0.06);
                padding-top: 20px;
            }
            
            > label{
                font-family: Roboto-Medium;
            }
            > ul{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                margin-top: 10px;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    border: 1px solid rgba(0,0,0,0.1);
                    border-radius: 6px;
                    &.active{
                        background: #ff5a5a;
                        border: 1px solid #ff5a5a;
                        span{
                            color: #fff;
                        }
                    }
                    button{
                        padding: 8px 0px;
                        width: 100%;
                    }
                    span{
                        font-family: Roboto-Regular;
                        font-size: 0.9rem;
                        text-transform: none;
                    }
                }
            }
        }
    }
}

.change-pass-form{
    .content-form{
        > div{
            padding: 20px;
            > button{
                margin-top: 10px;
            }
        }
    }
}
.block-friend-form{
    .filter{
        padding: 0px 15px;
        padding-bottom: 15px;
        p{
            font-family: Roboto-Regular;
            color: #666;
            text-align: justify;
        }
        .add-bt{
            display: flex;
            align-items: center;
            color: #ff5a5a;
            span{
                font-family: Roboto-Medium;
                margin-left: 5px;
            }
        }
    }
    .content-form{
        padding: 0px 15px;
        box-sizing: border-box;
        .friend-list{
            .friend-layout{
                margin: 10px 0px;
                > div{
                    display: flex;
                    align-items: center;
                    > label{
                        margin-left: 10px;
                        font-family: Roboto-Regular;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}
.friends-for-block-form{
    .drawer-header{
        border-bottom: none !important;
    }
    .filter{
        padding: 0px 15px 15px 15px;
        .search-box{
            margin: 0px !important;
            img{
                width: 17px;
            }
            fieldset{
                border: none !important;
                background: rgba(0,0,0,0.07);
            }
        }
    }
    .content-form{
        padding: 0px 15px 15px;
        box-sizing: border-box;
        .friend-layout{
            margin: 10px 0px;
            > div{
                display: flex;
                align-items: center;
                label{
                    margin-left: 10px;
                    font-family: Roboto-Regular;
                    font-size: 1.1rem;
                }
            }
        }
    }
}
.image-box{
    padding: 10px;
    
}
.image-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    li{
        height: 100px;
        background: #EDEDED;
        position: relative;
        > div{
            width: 100%;
            height: 100%;
            background-size: cover !important;
            background-position: 50% 50% !important;
            background-repeat: no-repeat !important;
        }
        > button{
            position: absolute;
            color: #fff;
            background: rgba(0,0,0,0.3);
            z-index: 1;
            padding: 0px;
            top: calc(50% - 18px);
            left: calc(50% - 18px);
            svg{
                width: 36px;
                height: 36px;
            }
        }
    }
}
.album {
    ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        li{
            >div{
                border: 1px solid rgba(0,0,0,0.2);
                height: calc(50vw - 15px);
                padding: 3px;
                box-sizing: border-box;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                background-position: 50% 50% !important;
                > div{
                    height: 100%;
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    background-position: 50% 50% !important;
                }
            }
            > span{
                display: flex;
                align-items: center;
                width: 100%;
                height: 35px;
                color: #777;
                font-family:  Roboto-Regular;
            }
            &.add-bt{
                > div{
                    border: 1px solid #f44645;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    > svg{
                        width: 40px;
                        height: 40px;
                        color: #f44645;
                    }
                }
                > span{
                    color: #f44645;
                }
            }
        }
    }
}

.update-avatar-review-drawer{
    .drawer-header{
        border: none !important;
        >button{
            width: fit-content !important;
        }
    }
    .post-content {
        padding: 10px;
        .multi-input{
            > div{
                border: none !important;
            }
        }
        
    }
}

.congraduate-select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .input-field{
        width: calc(50% - 5px) !important;
        > label{
            display: flex;
        }
        > div{
            padding-right: 25px;
            border: 1px solid rgba(0,0,0,0.15);
            border-radius: 7px;
        }
    }
}
.privacy-select{
    > button{
        background: rgba(0,0,0,0.05);
        border-radius: 7px;
        padding: 8px 15px;
        img{
            width: 20px;
            margin-right: 10px;
        }
        svg{
            width: 20px;
        }
    }
}
.user-history{
    > li{
        border-bottom: 10px solid rgba(0,0,0,0.08);
        padding-bottom: 10px;
    }
    .date{
        width: 100% !important;
        box-sizing: border-box;
        border-radius: 0px !important;
        background: #fff !important;
        margin-top: 10px !important;
        padding: 0px 15px !important;
    }
    .list{
        > label{
            svg{
                width: 17px !important;
                color: rgba(0,0,0,0.5) !important;
            }
        }
        > ul{
            padding: 0px 17px !important;
        }
    }
    .project{
        display: inline-block;
        padding: 4px 0px;
        color: #27a9e0;
        width: 100%;
        font-family: Roboto-Medium;
    }
    .member{
        display: inline-block;
        padding: 4px 0px;
        width: 100%;
        font-family: Roboto-Medium;
    }
    .point{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 0px;
        color: rgba(0,0,0,0.5);
    }
    .total{
        margin: 0px !important;
        margin-top: 10px !important;
        border-top: 1px solid rgba(0,0,0,0.06);
        padding-top: 10px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px !important;
        padding: 15px 27px 0px 18px !important;
        span{
            color: #ff5a5a;
        }
    }
}

.album-detail-drawer{
    .drawer-header{
        border: none !important;
    }
    .drawer-content{
        .album-background{
            height: 50vw;
            background: #EDEDED;
            > div{
                width: 100%;
                height: 100%;
                background-size: cover !important;
                background-position: 50% 50% !important;
                background-repeat: no-repeat !important;
            }
        }
        .name{
            border-bottom: 7px solid #EDEDED;
            padding: 10px 0px;
            > label{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                font-size: 1.3rem;
                font-family: Roboto-Medium;
            }
            > span{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                font-family: Roboto-Regular;
                opacity: 0.7;
            }
        }
        .add-to-album{
            display: flex;
            height: 60px;
            align-items: center;
            padding: 0px 15px;
            border-bottom: 7px solid #EDEDED;
            .avatar{
                border: none !important;
            }
            span{
                margin-left: 10px;
                font-family: Roboto-Regular;
                opacity: 0.7;
                display: inline-block
            }
        }
        .custom-tab-1{
            .tab-header{
                .fas{
                    font-size: 1.5rem;
                }
            }
        }
    }
}